
<p>login-player works!</p>

<form >
  <div class="form-group">
    <label for="Fname">First Name</label>
    <input type="text" class="form-control" id="Fname" required [(ngModel)]="loginPlayerViewmodel.FName" name="name">
  </div>
  <div class="form-group">
    <label for="Lname">Last Name</label>
    <input type="text" class="form-control" id="Lname" required [(ngModel)]="loginPlayerViewmodel.LName" name="name">
  </div>
  <button onsubmit="OnSubmit()">Submit</button>
</form>
{{loginPlayerViewmodel.FName}}
{{loginPlayerViewmodel.LName}}
<br>

<app-player-details [playerViewModel] = "playerViewModel"></app-player-details>


